{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <title>User Wallet</title>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('loginLink').href = window.location.origin + '/login/';

       
      });

    </script>
</head>

<body>
    <div class="container">
        {% if messages %}
        {% for message in messages %}
           <script>alert("{{ message }}");</script> 
        {% endfor %}
        {% endif %}
        <img class="logo" src="{% static 'images/wallet.png' %}" alt="User Wallet Logo">
        <h2>Welcome to the User Wallet</h2>
        <a class="btn btn-primary btn-login" href="#" id="loginLink">Login</a>

       
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UoUChlNB6dI2WzsnUyOJSqVPQGvNfGEC2fgoVWq2GMAxg/ZZm5b6fFO5gmRNGblj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
