{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('registerLink').href = window.location.origin + '/register/';
       
      });
      </script>
</head>
<body>
    <section class="container mb-6">
        {% if messages %}
        {% for message in messages %}
           <script>alert("{{ message }}");</script> 
        {% endfor %}
        {% endif %}
        <form class="login_form container-lg col-lg-4 col-md-8 col-12" method="POST">
            <img class="logo" src="{% static 'images/wallet.png' %}" alt="User Wallet Logo">

            {% csrf_token %}
            <input class="form-control" type="email" name="emailId" placeholder="Enter your Email Address" required><br>
            <button class="btn btn-primary btn-login" id="button" type="submit">Login</button><br>
            <div class="register-link">
                <p>Don't have an account? <a href="#" id="registerLink">Register here</a></p>
            </div>
        </form>
    </section>
    
</body>
</html>
