
{% extends "dash.html" %}

{% block content %}   
                                           
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <title>Send Money</title>
    
   
</head>
<body>
    <section class="container mb-6">
        {% if messages %}
        {% for message in messages %}
           <script>alert("{{ message }}");</script> 
        {% endfor %}
        {% endif %}
        <form class="register_form container-lg col-lg-4 col-md-8 col-12" method="POST">
            <img class="logo" src="{% static 'images/wallet.png' %}" alt="User Wallet Logo">
            {% csrf_token %}
            <header id ="paymentnow" >Make Payment</header><br>
            <input class="form-control" id ="emailId" type="email" name="emailId" placeholder="Enter Receiver's Email" required/><br>
            <input class="form-control" id ="Amount" type="text" name="Amount" placeholder="Enter amount" required><br>
            <button class="btn btn-primary btn-login" id="button" type="submit">Send Money</button><br>
   
    
           
        </form>
    </section>
</body>


{% endblock %}

    